---
layout: splash
author_profile: false

excerpt: "Making generalisation testing the new status-quo in NLP"
header:
  <!-- overlay_image: /assets/images/unsplash-image-1.jpg -->
  overlay_color: "#268"

intro:
- excerpt: 'The ability to generalise is one of the primary desiderata of natural language processing (NLP). Yet, how
"good generalisation" should be defined and evaluated is not well understood, nor are there common standards to evaluate
generalisation. As a consequence, newly proposed models are usually not systematically tested for their ability to
generalise. <i>GenBench</i>`s mission is to make generalisation testing the new status-quo in NLP. As a first step, we
present a <i>generalisation taxonomy</i>, describing the underlying building blocks of generalisation in NLP. Next, we
present an elaborate <i>review of over 400 generalisation papers</i>, and we make <i>recommendations</i> for promising
areas for the future. You can find all this information in our <a href="dummy link" target="_blank">taxonomy paper</a>.
On this website, you can <a href="/taxonomy/">learn about the taxonomy</a>, you can <a
  href="/visualisations">dynamically explore our results</a>, and <a href="references">get citations from our
  analysis</a> or <a href="/contribute/">contribute papers</a> that we will periodically add to our review.'

feature_row2:
  - image_path: 
    excerpt: '<a class="twitter-timeline" href="https://twitter.com/GenBench?ref_src=twsrc%5Etfw">Tweets by GenBench</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>'

feature_row_team:
  - image_path: img/team/DieuwkeHupkes.png
    alt: "Dieuwke Hupkes"
    title: "Dieuwke Hupkes"
    class: img-thumbnail rounded-circle
  - image_path: img/team/MikelArtetxe.jpg
    alt: "Mikel Artetxe"
    title: "Mikel Artetxe"
    class: img-thumbnail rounded-circle
  - image_path: img/team/KhuyagbaatarBatsuren.jpg
    alt: "Khuyagbaatar Batsuren"
    title: "Khuyagbaatar Batsuren"
    class: img-thumbnail rounded-circle
  - image_path: img/team/ChristosChristodoulopoulos.jpg
    alt: "Christos Christodoulopoulos"
    title: "Christos Christodoulopoulos"
    class: img-thumbnail rounded-circle
  - image_path: img/team/default.png
    alt: "Ryan Cotterell"
    title: "Ryan Cotterell"
    class: img-thumbnail rounded-circle
  - image_path: img/team/VernaDankers.png
    alt: "Verna Dankers"
    title: "Verna Dankers"
    class: img-thumbnail rounded-circle
  - image_path: img/team/YanaiElazar.jpeg
    alt: "Yanai Elazar"
    title: "Yanai Elazar"
    class: img-thumbnail rounded-circle
  - image_path: img/team/RitaFrieske.jpg
    alt: "Rita Frieske"
    title: "Rita Frieske"
    class: img-thumbnail rounded-circle
  - image_path: img/team/MarioGiulianelli.jpg
    alt: "Mario Giulianelli"
    title: "Mario Giulianelli"
    class: img-thumbnail rounded-circle
  - image_path: img/team/AmirhosseinKazemnejad.jpg
    alt: "Amirhossein Kazemnejad"
    title: "Amirhossein Kazemnejad"
    class: img-thumbnail rounded-circle
  - image_path: img/team/KarimLasri.jpg
    alt: "Karim Lasri"
    title: "Karim Lasri"
    class: img-thumbnail rounded-circle
  - image_path: img/team/default.png
    alt: "Tiago Pimentel"
    title: "Tiago Pimentel"
    class: img-thumbnail rounded-circle
  - image_path: img/team/default.png
    alt: "Naomi Saphra"
    title: "Naomi Saphra"
    class: img-thumbnail rounded-circle
  - image_path: img/team/FlorianSchottmann.jpeg
    alt: "Florian Schottmann"
    title: "Florian Schottmann"
    class: img-thumbnail rounded-circle
  - image_path: img/team/ArabellaSinclair.jpg
    alt: "Arabella Sinclair"
    title: "Arabella Sinclair"
    class: img-thumbnail rounded-circle
  - image_path: img/team/KoustuvSinha.jpg
    alt: "Koustuv Sinha"
    title: "Koustuv Sinha"
    class: img-thumbnail rounded-circle
  - image_path: img/team/default.png
    alt: "Kaiser Sun"
    title: "Kaiser Sun"
    class: img-thumbnail rounded-circle
  - image_path: img/team/DennisUlmer.jpg
    alt: "Dennis Ulmer"
    title: "Dennis Ulmer"
    class: img-thumbnail rounded-circle
  - image_path: img/team/default.png
    alt: "Zhijing Jin"
    title: "Zhijing Jin"
    class: img-thumbnail rounded-circle
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row_team" %}
